yt-dlp
git+https://github.com/openai/whisper.git
moviepy
torch
torchaudio

# for audio normalizing
# (not in use atm)
# pydub

# Keyboard package for subtitle verification on `yousubtitler`
# (not in use atm)
# keyboard

# Add whisperx as an optional dependency
# To install with whisperx, use: pip install -r requirements.txt whisperx
whisperx; extra == "whisperx"